[mysqld]
# Asignación de memoria
innodb_buffer_pool_size = 2G
query_cache_size = 128M
tmp_table_size = 64M
max_heap_table_size = 64M

# Configuración de conexiones
max_connections = 150
thread_cache_size = 16

# Configuración de logs
innodb_log_buffer_size = 16M

# Ajustes generales
skip-host-cache
skip-name-resolve

# Directorios y archivos
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
secure-file-priv=/var/lib/mysql-files
user=mysql
symbolic-links=0

# Incluir configuraciones adicionales
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/
