SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
0 2 * * * root /usr/local/bin/backup.sh >> /var/log/backup.log 2>&1
#* * * * * root /usr/local/bin/backup.sh >> /var/log/backup.log 2>&1
