.grid_cabecera_bdu                      {
    display : grid;
    grid-template-columns : 1fr auto auto;
    margin-top : 0px;
    gap : 10px;
}

.grid_body_bdu {
    display : grid;
    grid-template-columns : auto 1fr;
    gap : 10px; 
    padding : 10px;
}

.grid_panel_buscando {
    display :   grid;
    grid-template-columns :   1fr 2fr 1fr 1fr;
    align-items :   center;
}

.modal-body {
    max-height : calc(100vh - 212px);
    overflow-y : auto;
}

@media(min-width:600px) {
    .modal-xl4{
        width : 60%;
        max-width : 450px;
    }
}

@media(min-width:600px) {
    .modal-xl3 { 
        width :   100%;
        max-width :   900px;
    }
}

#client-paginator {
    position : relative;
    width : 100%;
    overflow-y : hidden;
    overflow-x : scroll;
}

.pagination {
    display : table !important;
}

.pagination>li {
    display :   table-cell !important;
}

.disabledTab {
    pointer-events :   none;
}

.grid_div_run {
    display : grid;
    grid-template-columns : 100px 15px 45px;
    gap : 5px;
    align-items : center;
    justify-items : legacy;   
}

.grid_div_run_previ {
    display : grid;
    grid-template-columns : 100px 15px 45px 30px 1fr;
    gap : 5px;
    align-items : center;
    justify-items : legacy;   
}
 
.toast {
    z-index : 9999;
}

.grid_contenedo_paginado {
    display : grid;
    grid-template-columns : 1fr auto 1fr;
    column-gap : 5px;
}

.anatomia_pagination {
    display : flex;
    justify-content : center;
    padding : 20px;
}

.anatomia_pagination ul.bootpag {
    display : flex; 
    list-style-type : none;
    padding : 0;
    margin : 0;
}

.anatomia_pagination ul.bootpag li {
    margin : 0 5px;
}

.anatomia_pagination ul.bootpag li a {
    display : block;
    padding : 10px 15px;
    border-radius : 5px;
    background-color : #f8f9fa;
    border : 1px solid #dee2e6;
    color : #007bff;
    text-decoration : none;
    transition : background-color 0.3s, color 0.3s;
}

.anatomia_pagination ul.bootpag li a:hover {
    background-color : #007bff;
    color : #ffffff;
}

.anatomia_pagination ul.bootpag li.active a {
    background-color : #007bff;
    color :   #ffffff;
    border-color : #007bff;
}

.custom-padding td {
    padding: 0.25rem; 
}
