.grid_cabecera_bdu                      {
    display                             :   grid;
    grid-template-columns               :   1fr auto;
    margin-top                          :   0px;
    gap                                 :   10px;
}

.grid_body_bdu                          {
    display                             :   grid;
    grid-template-columns               :   1fr 2fr;
    gap                                 :   10px;
    padding                             :   10px;
}

.grid_panel_buscando{
    display                             :   grid;
    grid-template-columns               :   1fr 2fr 1fr 1fr;
    align-items                         :   center;
}

.modal-body                             {
    max-height                          :   calc(100vh - 212px);
    overflow-y                          :   auto;
}

@media(min-width:600px)                 {
    .modal-xl4{
        width                           :   60%;
        max-width                       :   450px;
    }
}

@media(min-width:600px)                 {
    .modal-xl3{
        width                           :   100%;
        max-width                       :   900px;
    }
}

#client-paginator                       {
    position                            :   relative;
    width                               :   100%;
    overflow-y                          :   hidden;
    overflow-x                          :   scroll;
}

.pagination                             {
    display                             :   table !important;
}

.pagination>li                          {
    display                             :   table-cell !important;
}

.disabledTab                            {
    pointer-events                      :   none;
}

.grid_div_run                           {
    display                             :   grid;
    grid-template-columns               :   100px 15px 45px;
    gap                                 :   5px;
    align-items                         :   center;
    justify-items                       :   legacy;   
}

.grid_div_run_previ                     {
    display                             :   grid;
    grid-template-columns               :   100px 15px 45px 30px 1fr;
    gap                                 :   5px;
    align-items                         :   center;
    justify-items                       :   legacy;   
}

.toast {
    z-index: 9999; /* Asegúrate de que este valor sea más alto que otros elementos en tu página */
}