.grid_cabecera_bdu                      {
    display                             :   grid;
    grid-template-columns               :   1fr auto;
    margin-top                          :   0px;
    gap                                 :   10px;
}
